:root {
    background-color: #00ff00;
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
h1 {
    font-size: 5.4;
    color: #56a5eb;
    margin-bottom: 5rem;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
}