@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');


:root {
    background-color: rgba(29,26,26);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Mono',  monospace;
}
h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}
h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}
.container {
    background-color: #595959;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}
.flex-column{
    display: flex;
    flex-direction: column;

}
.flex-center {
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
.justify-center {
    justify-content: center;
}
.text-center {
    text-align: center;
    background-color: green;
}
.hidden {
    display: none;
}
.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #00ff00;
    background-color: #4d94ff;
    /* background: linear-gradient(90deg, rgba(18,92,255) 0% rgba(0,102,255) 100% ); */
}
.btn:hover {
    cursor: pointer;
    color: red;
    background-color:#00ff00;
    transition: transform 0.5s;
    border-radius: 5px;
    transform: scale(1.2);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);
}
.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
#highscore-btn {
    background-color:  rgb(255, 247, 9);
    color: black;


}
#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5);

}
.fa-crown {
    font-size: 2.5rem;
    margin-left: 0.5rem;
}